.multicol {
    &__paragraph {
        position: relative;
        .inner-container {
            display: flex;
            padding: 7rem 3rem;
            text-align: center;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px) {
                text-align: left;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &--grow-together {
            margin-bottom: 5rem;
            background-color: $pale-blue;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;   
                width: 100%;
                left: 0;
            }
            &:before {
                height: 112px;
                top: -112px;
                background: url('./../images/bg-section-top-mobile-1.svg');
                background-size: 100% 112px;
                @media screen and (min-width: 768px) {
                    height: 156px;
                    top: -156px;
                    background: url('./../images/bg-section-top-desktop-1.svg');
                    background-size: 100% 156px;
                }
            }
            &:after {
                height: 52px;
                bottom: -52px;
                background: url('./../images/bg-section-bottom-mobile-1.svg');
                background-size: 100% 52px;
                @media screen and (min-width: 768px) {
                    height: 139px;
                    bottom: -139px;
                    background: url('./../images/bg-section-bottom-desktop-1.svg');
                    background-size: 100% 139px;
                }
            }
        }
        &--flowing-conversations {
            margin-bottom: 5rem;
        }
        &--your-users {
            background-color: $pale-blue;
            margin-bottom: 5rem;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;   
                width: 100%;
                left: 0;
            }
            &:before {
                height: 103px;
                top: -103px;
                background: url('./../images/bg-section-top-mobile-2.svg');
                background-size: 100% 103px;
            }
            &:after {
                height: 101px;
                bottom: -101px;
                background: url('./../images/bg-section-bottom-mobile-2.svg');
                background-size: 100% 101px;
            }
        }
    }
    &__image {
        max-width: 500px;
        margin-bottom: 4rem;
        @media screen and (min-width: 768px) {
            margin: 0 2rem;
            &--md-right {
                order: 2;
            }
        }
    }
    &__title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-family: $font-heading;
    }
    &__inner-content {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
        color: #757575;
    }
}