$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$primary-pink: hsl(322, 100%, 66%);
$dark-pink: darken($primary-pink, 10%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

$default-transition: .25s ease-in-out;